*{
  font-family: sans-serif;

  color: white;
}

body{
  background-color: rgb(36, 36, 36);
}

#content-all{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  animation: SlideY 1s;

}

@keyframes SlideY{
  from {
    transform: translateY(30px);
  } to {
    transform: translateY(0px);
  }
}

.search-content{
  width: 100%;

  display: flex;
  justify-content: center;


  margin: 20px;
  margin-bottom: 40px;
}

.search-part{
  padding: 10px;

  outline: none;

  border: none;
  border-radius: 8px;

  width: 50%;

  text-align: center;

  background-color: rgb(66, 66, 66);
}

.anime-space-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 40px;

  margin: 0 10%;
}

.spance-capas{
  margin-right: 10px;
  margin-top: 10px;
}

.anime-images{
  border-radius: 4px;

  transition: .5s ;
}

.anime-images:hover{
  transform: scale(1.1);
  transition: .5s ;

}

.logo-animecs{
  width: 100px;

}

.thememod{
  position: absolute;
  top: 0;
  right: 0;

  margin-right: 30px;
  margin-top: 30px;

}

.light-mode{
  background-color: white;
}

.dark-mode{
  background-color: rgb(36, 36, 36);
}
